
/*disable copy and paste*/
/** {
  -webkit-user-select: none;
}*/

#video {
  width: 80%;
}

#user-input {
  margin-top: 40px
}

/*#video-player {
  width: 800px;
  height: 400px;
  background-color: black;
  border: 1px solid red;
}*/
