
/*disable copy and paste*/
/** {
  -webkit-user-select: none;
}*/

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

  .video_section {
    text-align: center;
  }

  .container_flex {
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
  }

    .item_flex {
      text-align: center;
      min-width: 40vw;
    }

  #user-input {
  }

  /*#video-player {
    width: 800px;
    height: 400px;
    background-color: black;
    border: 1px solid red;
  }*/

@media only screen and (max-width: 40em) {
  html {
    font-size: 12px;
  }
}
