<!DOCTYPE html>
<html ng-app="jiewei">
<head>
  <title>Zoomin's Night</title>

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="304workaround" content="2013-10-24 21:17:23">
  <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/foundation.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/comment-core-library/build/style.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

  <script src="/rhizome/rhizome.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/foundation/js/foundation.min.js"></script>
  <script src="bower_components/comment-core-library/build/CommentCoreLibrary.js"></script>
  <script src="bower_components/lodash/dist/lodash.js"></script>
  <script src="bower_components/randomColor/randomColor.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
  <script src="bower_components/angular-qrcode/qrcode.js"></script>
  <script src="js/lib/Seriously.js/seriously.js"></script>
  <script src="js/lib/Seriously.js/effects/seriously.hue-saturation.js"></script>
  <script src="js/lib/Seriously.js/effects/seriously.tvglitch.js"></script>
  <script src="js/lib/Seriously.js/effects/seriously.noise.js"></script>
  <script src="js/controller.js"></script>
</head>

<body ontouchstart="">

  <section id="video-section" ng-controller="VideoController" class="video_section">
    <div id='video-player' class='abp'>
      <video muted ng-src="{{video}}" id="video" class='hide' type="video/mp4"></video>
      <canvas id="canvas"></canvas>
      <div id='my-comment-stage' class='container'></div>
    </div>
    <p>by {{author}}</p>
    <button ng-click='playOrPause()'/>play/pause</button>
    <button ng-click='fullScreen()' ng-hide="isFullScreen"/>full screen</button>
  </section>

</body>

</html>
